body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #1e3a8a; /* azul */
  color: #fff;
}

header {
  background: #0f172a; /* azul oscuro */
  padding: 20px;
  text-align: center;
}

nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 40px
