body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #1e3a8a; /* azul */
  color: #fff;
}

header {
  background: #0f172a; /* azul oscuro */
  padding: 20px;
  text-align: center;
}

nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 40px;
  background: #ffffff;
  color: #111;
  margin: 30px auto;
  border-radius: 10px;
  max-width: 800px;
}

footer {
  text-align: center;
  padding: 15px;
  color: #e5e7eb;
}

footer a {
  color: #93c5fd;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
